* {
    margin: 0;
    padding: 0
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #f05;
    font-family: Georgia;
}

header h1 {
    color: white;
}

header .button-logout {
    background-color: black;
    color: white;
    height: 32px;
    padding-inline: 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    min-width: 96px;
    letter-spacing: 3px;
}

header .button-logout:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}